@use "../abstracts";
:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(10%) sepia(41%)
    saturate(683%) hue-rotate(210deg) brightness(95%) contrast(102%);
  // --body-bg-color-change: #d6d6d6fa;
  --body-bg-color: #d6d6d6fa;
  --header-bg-color: #eeeeee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #000000;
  @include abstracts.breakpoint(lg) {
    --header-bg-color: #fff;
    --body-bg-color: #9e9da8;
  }
  --dropdown-bg-color: #fff;
  --dropdown-box-shadow-color: rgba(200, 200, 200, 0.4);
  --dropdown-arrow-color: #fff;
}
